.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sr-only {
  display: none;
}

#root {
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hikes-card .card-header {
  padding: 0;
}

.hike-desc{
  margin-left: 10px;
  font-size: 12px;
}

.card-author {
  margin: 10px;
}

.hike-expandable{
  height: 100%;
  line-height: 45px;
}

.go-top-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}


.custom-modal-body {
  padding: 0;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.imggallerybody {
  height: 100%;
  width: 100%;
  margin: 0rem;
  overflow: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}

.imggallerybody::-webkit-scrollbar {
  width: 0 !important;
}

#imggallery {
  display: flex;
  gap: 4vmin;
}

#imggallery > .cardimages > .image {
  width: 14vmin;
  height: 20vmin;
  object-fit: cover;
  object-position: center;
}

.addimage > .image {
  width: 14vmin;
  height: 20vmin;
  object-fit: cover;
  object-position: center;
}


.addimage:hover .image {
  filter: brightness(50%);
}

.cardimages:hover .image {
  filter: brightness(50%);
}

.cardimages:hover .cardimagesoverlay {
  display: block;
  box-shadow: 0 0 1rem red;
}

.cardimages {
  position: relative;
}

.cardimages .cardimagesoverlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  display: none;
  color: white;
  text-align: center;
}

.imageuploader {
  position: absolute;
  top:0;
  left:0;
  color: #f1f1f1;
  width: 14vmin;
  height: 20vmin;
  opacity: 0;
  transition: .5s ease;
  color: white;
}

.cardoverlayimageremove {
  width: 100%
}

.cardoverlayimageremove > .bi {
  fill: red;
}

.cardoverlayimageremove:hover > .bi{
  fill: white;
}

.dropdown-menu.show {
  z-index: 9999;
}